<h2>testing the connection</h2>

@for (carrierInfo of carrierInfos; track $index) {
  <div>
    <div>
      SjpNumber: {{ carrierInfo.SjpNumber }}
    </div>
    <div>
      Carrier_Code: {{ carrierInfo.Carrier_Code }}
    </div>
    <div>
      Carrier_Name: {{ carrierInfo.Carrier_Name }}
    </div>
    <div>
      Create_Date: {{ carrierInfo.Create_Date }}
    </div>
    <div>
      Update_Date: {{ carrierInfo.Update_Date }}
    </div>
    <div>
      Status: {{ carrierInfo.Status }}
    </div>
    <div>
      Reject_Reason: {{ carrierInfo.Reject_Reason }}
    </div>
    <div>
      Approve_Date: {{ carrierInfo.Approve_Date }}
    </div>
  </div>
}