<nz-table [nzBordered]="true" [nzSize]="'middle'" [nzScroll]="{ x: '100px' }">
  <thead>
    <tr>
      <th>Sjp Number</th>
      <th>Carrier Code</th>
      <th>Carrier Name</th>
      <th>Create Date</th>
      <th>Update Date</th>
      <th>Status</th>
      <th>Reject Reason</th>
      <th>Approve Date</th>
    </tr>
  </thead>
  <tbody>
    @for (carrierInfo of carrierInfos; track $index) {
      <tr>
        <td>{{ carrierInfo.sjpNumber}}</td>
        <td>{{ carrierInfo.carrier_Code }}</td>
        <td>{{ carrierInfo.carrier_Name }}</td>
        <td>{{ carrierInfo.create_Date }}</td>
        <td>{{ carrierInfo.update_Date }}</td>
        <td>{{ carrierInfo.status }}</td>
        <td>{{ carrierInfo.reject_Reason }}</td>
        <td>{{ carrierInfo.approve_Date }}</td>
      </tr>
    }
  </tbody>
</nz-table>
