<nz-table [nzBordered]="true" [nzSize]="'middle'" [nzScroll]="{ x: '100px' }">
  <thead>
    <tr>
      <th>Sjp Number</th>
      <th>Carrier Code</th>
      <th>Carrier Name</th>
      <th>Create Date</th>
      <th>Update Date</th>
      <th>Status</th>
      <th>Reject Reason</th>
      <th>Approve Date</th>
    </tr>
  </thead>
  <tbody>
    @for (carrierInfo of carrierInfos; track $index) {
      <tr>
        <td>{{ carrierInfo.SjpNumber }}</td>
        <td>{{ carrierInfo.Carrier_Code }}</td>
        <td>{{ carrierInfo.Carrier_Name }}</td>
        <td>{{ carrierInfo.Create_Date }}</td>
        <td>{{ carrierInfo.Update_Date }}</td>
        <td>{{ carrierInfo.Status }}</td>
        <td>{{ carrierInfo.Reject_Reason }}</td>
        <td>{{ carrierInfo.Approve_Date }}</td>
      </tr>
    }
  </tbody>
</nz-table>
